In [1]:
from pandas import DataFrame
import pandas as pd

In [2]:
df = pd.read_csv('corpus/BIO_train.txt', sep = '\t', names = ['char', 'tag'])

In [3]:
df.head()

  char tag
0    当   O
1    希   O
2    望   O
3    工   O
4    程   O

In [4]:
df.describe()

           char      tag
count   2169879  2169879
unique     4767        7
top           ，        O
freq      91623  1928070

In [5]:
df.tag.unique()

array(['O', 'B-LOC', 'I-LOC', 'B-ORG', 'I-ORG', 'B-PER', 'I-PER'],
      dtype=object)

In [6]:
count = 0
for i in range(len(df)):
    if df.tag[i] == 'B-PER' and df.tag[i+1] == 'B-PER':
        print(df.iloc[i],df.iloc[i+1],'\n')
        count +=1
print(count)

char        马
tag     B-PER
Name: 1440, dtype: object char        列
tag     B-PER
Name: 1441, dtype: object

char        黄
tag     B-PER
Name: 10235, dtype: object char        蚩
tag     B-PER
Name: 10236, dtype: object

char        梁
tag     B-PER
Name: 35953, dtype: object char        祝
tag     B-PER
Name: 35954, dtype: object

char        汤
tag     B-PER
Name: 177035, dtype: object char        尤
tag     B-PER
Name: 177036, dtype: object

char        汤
tag     B-PER
Name: 177570, dtype: object char        尤
tag     B-PER
Name: 177571, dtype: object

char        汤
tag     B-PER
Name: 185367, dtype: object char        尤
tag     B-PER
Name: 185368, dtype: object

char        马
tag     B-PER
Name: 192991, dtype: object char        列
tag     B-PER
Name: 192992, dtype: object

char        汤
tag     B-PER
Name: 195923, dtype: object char        尤
tag     B-PER
Name: 195924, dtype: object

char        汤
tag     B-PER
Name: 196223, dtype: object char        尤
tag     B-PER
Name: 196224, dtype: object

char        汤
tag     B-PER
Name: 196901, dtype: object char        尤
tag     B-PER
Name: 196902, dtype: object

char        汤
tag     B-PER
Name: 196960, dtype: object char        尤
tag     B-PER
Name: 196961, dtype: object

char        汤
tag     B-PER
Name: 199842, dtype: object char        尤
tag     B-PER
Name: 199843, dtype: object

char        汤
tag     B-PER
Name: 203023, dtype: object char        尤
tag     B-PER
Name: 203024, dtype: object

char        汤
tag     B-PER
Name: 204197, dtype: object char        尤
tag     B-PER
Name: 204198, dtype: object

char        汤
tag     B-PER
Name: 206563, dtype: object char        尤
tag     B-PER
Name: 206564, dtype: object

char        汤
tag     B-PER
Name: 207640, dtype: object char        尤
tag     B-PER
Name: 207641, dtype: object

char        汤
tag     B-PER
Name: 207778, dtype: object char        尤
tag     B-PER
Name: 207779, dtype: object

char        汤
tag     B-PER
Name: 207838, dtype: object char        尤
tag     B-PER
Name: 207839, dtype: object

char        汤
tag     B-PER
Name: 208201, dtype: object char        尤
tag     B-PER
Name: 208202, dtype: object

char        汤
tag     B-PER
Name: 208981, dtype: object char        尤
tag     B-PER
Name: 208982, dtype: object

char        汤
tag     B-PER
Name: 240753, dtype: object char        尤
tag     B-PER
Name: 240754, dtype: object

char        马
tag     B-PER
Name: 544045, dtype: object char        列
tag     B-PER
Name: 544046, dtype: object

char        马
tag     B-PER
Name: 544115, dtype: object char        列
tag     B-PER
Name: 544116, dtype: object

char        马
tag     B-PER
Name: 599034, dtype: object char        列
tag     B-PER
Name: 599035, dtype: object

char        汤
tag     B-PER
Name: 629433, dtype: object char        尤
tag     B-PER
Name: 629434, dtype: object

char        汤
tag     B-PER
Name: 631925, dtype: object char        尤
tag     B-PER
Name: 631926, dtype: object

char        汤
tag     B-PER
Name: 669479, dtype: object char        尤
tag     B-PER
Name: 669480, dtype: object

char        汤
tag     B-PER
Name: 669501, dtype: object char        尤
tag     B-PER
Name: 669502, dtype: object

char        汤
tag     B-PER
Name: 669525, dtype: object char        尤
tag     B-PER
Name: 669526, dtype: object

char        汤
tag     B-PER
Name: 669571, dtype: object char        尤
tag     B-PER
Name: 669572, dtype: object

char        汤
tag     B-PER
Name: 669590, dtype: object char        尤
tag     B-PER
Name: 669591, dtype: object

char        汤
tag     B-PER
Name: 669860, dtype: object char        尤
tag     B-PER
Name: 669861, dtype: object

char        汤
tag     B-PER
Name: 670044, dtype: object char        尤
tag     B-PER
Name: 670045, dtype: object

char        马
tag     B-PER
Name: 873304, dtype: object char        列
tag     B-PER
Name: 873305, dtype: object

char        梁
tag     B-PER
Name: 929367, dtype: object char        祝
tag     B-PER
Name: 929368, dtype: object

char        马
tag     B-PER
Name: 1185506, dtype: object char        列
tag     B-PER
Name: 1185507, dtype: object

char        马
tag     B-PER
Name: 1186391, dtype: object char        列
tag     B-PER
Name: 1186392, dtype: object

char        马
tag     B-PER
Name: 1186945, dtype: object char        列
tag     B-PER
Name: 1186946, dtype: object

char        马
tag     B-PER
Name: 1186996, dtype: object char        列
tag     B-PER
Name: 1186997, dtype: object

char        马
tag     B-PER
Name: 1187015, dtype: object char        列
tag     B-PER
Name: 1187016, dtype: object

char        马
tag     B-PER
Name: 1187080, dtype: object char        列
tag     B-PER
Name: 1187081, dtype: object

char        马
tag     B-PER
Name: 1187202, dtype: object char        列
tag     B-PER
Name: 1187203, dtype: object

char        马
tag     B-PER
Name: 1252184, dtype: object char        列
tag     B-PER
Name: 1252185, dtype: object

char        马
tag     B-PER
Name: 1339990, dtype: object char        列
tag     B-PER
Name: 1339991, dtype: object

char        孔
tag     B-PER
Name: 1355958, dtype: object char        孟
tag     B-PER
Name: 1355959, dtype: object

char        老
tag     B-PER
Name: 1356192, dtype: object char        庄
tag     B-PER
Name: 1356193, dtype: object

char        马
tag     B-PER
Name: 1366104, dtype: object char        列
tag     B-PER
Name: 1366105, dtype: object

char        马
tag     B-PER
Name: 1603404, dtype: object char        列
tag     B-PER
Name: 1603405, dtype: object

char        康
tag     B-PER
Name: 1604495, dtype: object char        梁
tag     B-PER
Name: 1604496, dtype: object

char        康
tag     B-PER
Name: 1652106, dtype: object char        雍
tag     B-PER
Name: 1652107, dtype: object

char        雍
tag     B-PER
Name: 1652107, dtype: object char        乾
tag     B-PER
Name: 1652108, dtype: object

char        马
tag     B-PER
Name: 1666400, dtype: object char        列
tag     B-PER
Name: 1666401, dtype: object

char        马
tag     B-PER
Name: 1826347, dtype: object char        列
tag     B-PER
Name: 1826348, dtype: object

char        马
tag     B-PER
Name: 1826961, dtype: object char        列
tag     B-PER
Name: 1826962, dtype: object

char        马
tag     B-PER
Name: 1858837, dtype: object char        列
tag     B-PER
Name: 1858838, dtype: object

char        马
tag     B-PER
Name: 1859129, dtype: object char        列
tag     B-PER
Name: 1859130, dtype: object

char        马
tag     B-PER
Name: 1880684, dtype: object char        列
tag     B-PER
Name: 1880685, dtype: object

char        马
tag     B-PER
Name: 1946748, dtype: object char        列
tag     B-PER
Name: 1946749, dtype: object

char        马
tag     B-PER
Name: 1947197, dtype: object char        列
tag     B-PER
Name: 1947198, dtype: object

char        康
tag     B-PER
Name: 1993925, dtype: object char        乾
tag     B-PER
Name: 1993926, dtype: object

char        马
tag     B-PER
Name: 2006501, dtype: object char        列
tag     B-PER
Name: 2006502, dtype: object

char        马
tag     B-PER
Name: 2011934, dtype: object char        列
tag     B-PER
Name: 2011935, dtype: object

char        马
tag     B-PER
Name: 2012332, dtype: object char        列
tag     B-PER
Name: 2012333, dtype: object

char        马
tag     B-PER
Name: 2013361, dtype: object char        列
tag     B-PER
Name: 2013362, dtype: object

char        马
tag     B-PER
Name: 2014085, dtype: object char        列
tag     B-PER
Name: 2014086, dtype: object

char        马
tag     B-PER
Name: 2014638, dtype: object char        列
tag     B-PER
Name: 2014639, dtype: object

char        马
tag     B-PER
Name: 2109363, dtype: object char        列
tag     B-PER
Name: 2109364, dtype: object

char        马
tag     B-PER
Name: 2113876, dtype: object char        列
tag     B-PER
Name: 2113877, dtype: object

char        马
tag     B-PER
Name: 2115402, dtype: object char        列
tag     B-PER
Name: 2115403, dtype: object

char        马
tag     B-PER
Name: 2115843, dtype: object char        列
tag     B-PER
Name: 2115844, dtype: object

char        马
tag     B-PER
Name: 2151139, dtype: object char        列
tag     B-PER
Name: 2151140, dtype: object

71

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2169879 entries, 0 to 2169878
Data columns (total 2 columns):
char    object
tag     object
dtypes: object(2)
memory usage: 33.1+ MB

In [8]:
import numpy as np

In [36]:
a = np.array([1,2,3,4])
a = a.reshape(4,-1)
b = np.array([[1,5,13,13],
             [2,6,11,14],
             [3,7,10,15],
             [4,8,9,16]])

In [37]:
a,b

(array([[1],
        [2],
        [3],
        [4]]), array([[ 1,  5, 13, 13],
        [ 2,  6, 11, 14],
        [ 3,  7, 10, 15],
        [ 4,  8,  9, 16]]))

In [38]:
c = a+b
c

array([[ 2,  6, 14, 14],
       [ 4,  8, 13, 16],
       [ 6, 10, 13, 18],
       [ 8, 12, 13, 20]])

In [39]:
np.max(c, axis=0)

array([ 8, 12, 14, 20])

In [40]:
np.argmax(c, axis=0)

array([3, 3, 0, 3])

In [ ]:
pi = [0,1,2,3]